input {
    border: 3px double var(--primary-accent-color);
}

input,
select,
.auto-expanding {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    border: 3px double var(--primary-accent-color);
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: initial;
    padding: 0.5rem 0.7rem;
    width: 100%;
}

select {
    padding-top: 0.55rem;       /* Adjust for vertical alignment inconsistencies */
    padding-bottom: 0.45rem;
}

select ::deep option {
    font-style: normal;
}

select:invalid,
.auto-expanding span:empty::before {
    font-style: var(--placeholder-font-style);
}

:focus,
.auto-expanding:focus-within {
    border-style: solid;
}

.auto-expanding span:empty::before {
    height: 0;
    display: inline-block;
    content: attr(aria-placeholder);
}

.auto-expanding span:focus {
    border: none;
    outline: none;
}

.auto-expanding span {
    width: 100%;
    display: block;
}
