@using DevToolbox.Common
@using Microsoft.Extensions.Logging
@inject ILogger<FeatureInput> logger

@if (!Autoexpand) {
    if (ChildContent == null) {
        <input @attributes="Attributes" value="@Value" />
    } else {
        /*@ TODO: Select placeholder support only works with required fields, due to limitations in CSS styling. It is likely that full support will require a class toggle with JS. */
        <select @attributes="Attributes" required value="@Feature?.SpecificationName" @onchange="handleFeatureChange">
            @ChildContent
        </select>
    }
} else {
    /*@ TODO: Figure out if wrapper div can be eliminated */
    <div class="auto-expanding">
        <span
            contenteditable
            @attributes="Attributes"
            role="textbox"
            aria-multiline="true"
            aria-placeholder="@Placeholder">
                @if (!string.IsNullOrWhiteSpace(Value)) {
                    @Value;
                }
            </span>
    </div>
}

@code {
    /// <summary>
    /// Indicates if the input should automatically vertically expand to the height of its content.
    /// </summary>
    /// <value>Default value: false</value>
    [Parameter] public bool Autoexpand { get; set; } = false;

    /// <summary>
    /// Set a placeholder value when the input is empty.
    /// </summary>
    /// <value></value>
    [Parameter] public string Placeholder { get; set; } = string.Empty;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }
    [Parameter] public Feature? Feature { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<Feature?> FeatureChanged { get; set; }

    private async Task handleFeatureChange(ChangeEventArgs eventArgs) {
        logger.LogInformation(eventArgs.Value.ToString());
        var feature = Features.FromString(eventArgs.Value.ToString());
        await FeatureChanged.InvokeAsync(feature);
        Feature = feature;
    }
}