<div class="features">
    <table cellspacing="0" cellpadding="0">
        <colgroup>
            <col class="feature" />
            <col class="allowlist" />
        </colgroup>
        <thead>
            <tr>
                <th>Feature</th>
                <th>Allowlist</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <FeatureInput>
                        <option value="" disabled selected hidden>Select feature&hellip;</option>
                        <option value="accelerometer">Accelerometer</option>
                        <option value="fullscreen">Fullscreen</option>
                    </FeatureInput>
                </td>
                <td>
                    <FeatureInput placeholder="None allowed" autoexpand />
                </td>
            </tr>
            <tr>
                <td>
                    <FeatureInput>
                        <option value="" disabled selected hidden>Select feature&hellip;</option>
                        <option value="accelerometer">Accelerometer</option>
                        <option value="fullscreen">Fullscreen</option>
                    </FeatureInput>
                </td>
                <td>
                    <FeatureInput placeholder="None allowed" />
                </td>
            </tr>
            <tr>
                <td>
                    <FeatureInput>
                        <option value="" disabled selected hidden>Select feature&hellip;</option>
                        <option value="accelerometer">Accelerometer</option>
                        <option value="fullscreen">Fullscreen</option>
                    </FeatureInput>
                </td>
                <td>
                    <FeatureInput placeholder="None allowed" />
                </td>
            </tr>
        </tbody>
    </table>
</div>