<div class="policy-header-field">
    <FeatureInput readonly="readonly" value="permissions-policy: *" />
    <FlatButton>Copy</FlatButton>
</div>

@code {
    [Parameter] public string Header { get; set; }
}