th {
    font-weight: 500;
    text-align: left;
}

tr td,
tr th {
    padding: 0.2rem 0;
    vertical-align: top;
}

tr:not(:hover):not(:focus-within) ::deep .auto-expanding,
tr:not(:hover):not(:focus-within) ::deep select,
tr:not(:hover):not(:focus-within) ::deep input {
    border-color: #eee;
}

table {
    margin-top: 2rem;
    table-layout: fixed;
    width: 100%;
}

td:first-child {
    padding-right: 0.5rem;
}

.feature {
    width: 40%;
}