@page "/"
@using DevToolbox.Shared;

<h1>Introduction</h1>
<p>
    <i>Nothing here yet.</i>
</p>
<h2>Tools</h2>
<ul>
    <li><NavLink href="/permissions-policy-header">
        Permissions-Policy Header Configurator
    </NavLink></li>
</ul>